.container {
    display: flex;
    flex-wrap: wrap;
}

.item:nth-child(2) {
    padding-left: 50px;
}

.item:last-child {
    padding-left: 50px;
}

.invicible {
    opacity: 0;
}

.item {
    font-family: Georgia;
    font-size: 14px;
}

h1 {
    font-family: Georgia;
    font-style: 20px;
}